@charset "utf-8";

* {
   margin: 0;
   padding: 0;
   list-style: none;
   vertical-align: bottom;
}
/* ↑ この記述はリセット */
.wrap_slider {
   width: 300px;
}
.slider li img {
   width: 100%;
   height: auto;
}
.slick-prev:before,
.slick-next:before {
   color: #000;
}
.slider .slick-dots {
   bottom: 0;
   display: flex;
   justify-content: space-between;
}
.slider .slick-dots li {
   position: relative;
   display: inline-block;
   width: calc(100% / 5 - 5px);
   height: 5px;
   margin: 0;
   padding: 0;
   cursor: pointer;
   background: #ccc;
   overflow: hidden;
}
.slider .slick-dots li.slick-active button {
   background: #080ae4;
   width: 0;
}
.slider .slick-dots li button:before {
   content: none;
}
