@charset "utf-8";

.container {
   /* border: 1px solid #000; */
   width: 100%;
   height: auto;
   margin: 0 auto;
   overflow: hidden;
   position: relative;
   position: absolute;
   background-color: #bbb;
}
.container p {
   left: 100%;
   margin: 0;
   display: inline-block;
   white-space: nowrap;
   animation-name: marquee; /*アニメーションのクラス名*/
   animation-timing-function: linear; /*アニメーションのタイミング・進行割合の指定*/
   animation-duration: 30s; /*アニメーションの速度*/
   animation-iteration-count: infinite; /*アニメーションの動作回数*/
   position: absolute;
   display: inline-block;
}
.container p:hover {
   animation-play-state: paused;
}
@keyframes marquee {
   from {
      left: 100%;
   }
   99%,
   to {
      left: -100%;
   }
}
