     body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
            overflow: hidden; /* Prevent vertical scrollbar */
        }

        td#icon{
			vertical-align: top;
		}
		td#msg{
			vertical-align: middle;
			max-width: 200px;
		}
		td#time{
			padding: 0 0 10px 0;
			vertical-align: bottom;
		}

		p{
			max-width: 200px;
		}


        .container {
            height: 100vh; /* Full height of the viewport */
            display: flex;
            flex-direction: column;
        }

        .chat-box {
            flex: 1;
            overflow-y: scroll;
            margin: 60px 10px 10px 10px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .message.left{
            margin-top: 10px;
            margin-bottom: 10px;
		    text-align: left;
		    word-break: break-all;
        }

		.message.right {
            margin: 5px 5px 5px 50px;
		    text-align: right;
		    word-break: break-all;
		 }
        .message p {
            background-color: #e6f7ff;
            padding: 8px;
            border-radius: 5px;
            display: inline-block;
            max-width: 200px;
        }

        .input-box {
            display: flex;
            margin:0 0 60px 0;
            padding: 10px;
            background-color: #f9f9f9;
            border-top: 1px solid #ddd;
        }

        .input-box input {
            flex: 1;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .input-box button {
            padding: 8px 15px;
            margin-left: 10px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .timespan_l{
			font-size: 0.5rem;
			vertical-align: bottom;
			margin: auto 0 5px 10px;
		}

		.timespan_r{
			font-size: 0.5rem;
			vertical-align: bottom;
			margin: auto 10px 5px 0;
		}

		.flex_l{
			margin: 0 0 0 5px;
		}

		.flex_r{
			margin-right: 0;
			margin-left: auto;
		}

		.lp{
			text-align: left;
		}
		#imgicon{
			width: 30px;
			height:30px;
			margin: 5px;
		}




