@charset "utf-8";

/*ドットをプログレスバー*/
.slider-5 .slick-slide {
   height: 570px;
   overflow: hidden;
}
.slider-5 .slick-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.dots-5 .slick-dots {
   text-align: center;
   background-color: #aaa;
}
/*プログレスバー*/
.dots-5 .slick-dots li {
   display: inline-block;
   width: 50px;
   height: 4px; /*①*/
   margin: 6px;
   /*プログレスバー　背景色*/
   background: #eaeaea;
   cursor: pointer;
}
.dots-5 .slick-dots button {
   display: block;
   width: 0%;
   height: 4px; /*①*/
   margin: 0;
   font-size: 0;
   padding: 0;
   border: 0;
   opacity: 0;
   outline: none;
   background: #0a467d;
   cursor: pointer;
}
.dots-5 .slick-dots .slick-active button {
   /*プログレスバー　色*/
   background: #0a467d;
   opacity: 1;
}
